#root {
    width: 100vw;
    height: 100vh;

    margin: 0 auto; /* Center horizontally */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column;

}

body {
    width: 100%;
    height: 100%;
    background-color: #6e6e6e;
    background-position: center;
    background-image: url(./assets/bg2.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center body content horizontally */
    align-items: center; /* Center body content vertically */
    
}

@font-face {
    font-family: trip-sans;
    src: url(./assets/trip-sans-variable.ttf);
}
* {
    font-family: trip-sans !important;
    outline:none !important;
}
.glass {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #ffffff2d;
    border-radius: 20px;
    padding: 1rem;
    border: #353535 solid 0.3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center; 
}
#help {
    position: relative;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}
