.faction {
    padding: 1em;
    border: #c7c7c72d solid 0.3px;
    border-radius: 10px;
    background-color: #07070767;
    height: calc(100% - 2.6em);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    white-space: pre-wrap;
    word-break: break-all;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    overflow: hidden; 
}
#resolution {
    font-weight: 600;
    color: #ffffff;
    font-size: 4em;
    margin: 0.5em 0 0 0;
    text-align: center;
}
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #f1f1f10a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.name {
    font-weight: 600;
    color: #ffffff;
    font-size: 1.7rem;
    margin: 0;
    margin-left: 0.5em;
}
.titleBar{
	    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
hr {
 display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e4e4e450;
  margin: 1em 0;
  padding: 0;
}
.score{
font-weight: 600;
    color: #ffffff;
    font-size: 2.5em;
    margin: 0.1em 0.4em 0 0;
}
.voteBox{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
}
.vote{
	width: 1em;
	background-color: transparent;
	padding: 0;
	border: none;
	color: #ffffff;
	font-size: 2em;
	cursor: pointer;
}
.vote:disabled{
	color: #555555;
	cursor: not-allowed;
}
.vote:focus{
	outline: none;
}
.vote:hover{
	color: #9395f8;
}
#factions {
    width: 85%;
    height: 75vh; /* Use viewport height instead of 100% */
    display: grid;
    gap: 1.1em;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    margin: 2em auto;
    border: #35353563 solid 0.3px;
    background-color: #16161667;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
}
.messageBox {
    text-align: left;
    margin: 1em 0;
}
.sender {
    display: block;
    font-weight: 600;
}
.messages {
    flex-grow: 1;
    overflow-y: auto;
    font-weight: 200;
    color: #ffffff;
    min-height: 0; /* This is the key to constrain the flex item */
}
.message {
    margin-left: 0.5em;
    display: block;
    font-weight: 300;
    color: #ffffff;
}
.title {
    font-weight: 800;
    color: #ffffff;
    font-size: 3rem;
    margin: 2rem auto;
    display: block;
}

#input {
    position: relative;
    bottom: 0px;
    background-color: transparent;
    display: block;
    height: calc(100% - 0.4em);
    width: 100%;
    border-radius: 8px;
    padding: 0.2em 1em;
    border: transparent;
    color: white;
}
#input:focus {
    outline: none;
    border: none;
}
/* #inputBox:focus-within {
    transition: border 0.4s ease;
    outline: none;
    border: 1px solid #c9c9c986;
} */
#inputBox {
    position: relative;
    bottom: 0px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3em;
    margin-top: 1em;
    flex-shrink: 0; /* Prevent this element from shrinking */
    border-radius: 8px;
    padding: 0;
    border: 1px solid #ffffff36;
    color: white;
}
@keyframes send {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
        transform: translateX(20px) scale(0.8) rotate(-10deg);
    }
    51% {
        transform: translateX(-20px) scale(0.8) rotate(10deg);
    }
}
#send {
    background-color: transparent;
    border: none !important;
    color: rgba(255, 255, 255, 0.521);
    outline: none !important;
    padding: 0 1em 0.2em 1em;
}
#send:hover {
    color: #ffffffd8;
    cursor: pointer;
}
#send:focus {
    animation: send 1s ease forwards;
    outline: none;
    border: none;
}
#send:active {
    animation: send 1s ease forwards;
    outline: none;
    border: none;
}

.button {
    width: 87.5%;
    margin: 1em auto;
    padding: 0.8em 2em;
    border-radius: 10px;
    background-color: #ffffff;
    color: #161616;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: #dddddd;
}

.linkText {
    color: #fff;
    font-size: 1rem;
    margin-top: 1em;
}
